* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #2E424D;
}

.header {
    display: flex;
    background-color: white;
    justify-content: space-between;
    align-items: flex-start;
    padding: 20px 70px;
    border-bottom: 1px solid #ddd;
}

.logo-section .name-line {
    display: flex;
    flex-direction: column;
}

.doctor-name {
    color: #324d56;
    font-size: 32px;
    font-weight: bold;
}

.underline {
    border-bottom: 2px solid #324d56;
    position: relative;
    width: 100%;
    margin-top: 2px;
}

.specialty {
    position: absolute;
    right: 0;
    top: -8px;
    background-color: white;
    padding-left: 10px;
    color: #324d56;
    font-size: 14px;
}

.nav-links a {
    margin-left: 30px;
    text-decoration: none;
    color: #5e7d8a;
    font-size: 16px;
    padding: 8px 12px;
    border-radius: 5px;
    transition: background-color 0.2s;
}

.nav-links a.active {
    background-color: #324d56;
    color: white;
}

.nav-links a:hover:not(.active) {
    background-color: #e6e6e6;
}

.hero {
    height: 90vh;
    background-image: url('images/hero.jpeg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.about-doctor {
    display: flex;
    justify-content: space-between;
    padding: 220px 10px 60px;
    background-color: white;
    color: #5B8291;
    gap: 40px;
}

.about-left {
    width: 40%;
    font-size: 36px;
    font-weight: bold;
    line-height: 1.6;
}

.about-right {
    width: 60%;
    font-size: 20px;
    line-height: 1.8;
}


.floating-cards {
    display: flex;
    position: absolute;
    top: 95vh;
    left: 0;
    width: 100%;
    justify-content: space-between;
    padding-left: 250px;
    padding-right: 250px;
    gap: 10px;
    z-index: 1;
    flex-wrap: wrap; /* Allow wrapping of cards */
}

.floating-cards a {
    text-decoration: none; 
    color: inherit; 
}

.card {
    background-color: #24424E;
    border: 2px solid white;
    padding: 20px;
    outline: #98DAD9;
    width: 260px; /* Fixed width for cards */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    z-index: 2;
}

.card p {
    font-size: 14px;
    line-height: 1.6;
    margin-bottom: 10px;
    color: white;
}

.card-btn {
    margin-top: 10px;
    background-color: #24424E;
    color: white;
    padding: 8px 12px;
    border: 2px solid white;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
}

.card-btn:hover {
    background-color: #d3d3d3;
}

@media screen and (max-width: 768px) {
    .floating-cards {
    display: none; 
    }
}

.small-section {
    display: flex;
    justify-content: space-between;
    padding: 40px 70px;
}

.small-left {
    color: #98DAD9;
    text-align: left;
    flex: 1;
    font-size: 40px;
    line-height: 1.5;
}

.big {
    font-weight: bold;
    font-size: 48px;
}

.small-right {
    color: white;
    text-align: left;
    flex: 2;
    font-size: 32px;
    line-height: 1.5;
    display: flex;
    align-items: center;
}

.baby-section {
    display: flex;
    height: 70vh;
    justify-content: space-between;
    padding: 120px 100px 80px;
    background-image: url('images/baby.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: #2E424D;
}

.baby-left,
.baby-right {
    padding-top: 250px;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.icon {
    width: 100px;
    height: auto;
    margin-bottom: 20px;
}

.cases-text,
.countries-text {
    font-size: 24px;
    font-weight: bold;
}

.baby-left .cases-text {
    font-size: 32px;
    color: #2E424D;
}

.baby-right .countries-text {
    font-size: 32px;
    color: #2E424D;
}

.expertise-section {
    display: flex;
    justify-content: space-between;
    padding: 80px 70px;
    background-color: #f4f4f4;
    color: #5B8291;
}

.expertise-left {
    padding-top: 30px;
    padding-left: 75px;
    flex: 1.3;
}

.expertise-pfp {
    width: 250px;
    height: 300px;
    object-fit: cover;
    border: 4px solid #fff;
    outline: 4px solid #98DAD9;
    outline-offset: 6px;
}

.expertise-right {
    flex: 2;
    font-size: 20px;
    line-height: 2;
}

.expertise-list {
    list-style-type: none;
    padding-left: 0;
}

.expertise-list li {
    color: #5B8291;
    position: relative;
    margin-bottom: 15px;
    padding-left: 25px;
}

.expertise-list li::before {
    content: '\2713';
    position: absolute;
    left: 0;
    top: 0;
    font-size: 24px;
    color: #98DAD9;
}

.contact-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 60px 70px;
    background-color: #D9D9D9;
}

.contact-left {
    flex: 2;
    font-size: 24px;
    color: #5B8291;
}

.contact-right {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact-button {
    display: inline-block;
    padding: 15px 40px;
    background-color: #2E424D;
    color: white;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.contact-button:hover {
    background-color: #3B525F;
}

.emergency-text {
    line-height: 1.5;
}

.why-choose-section {
    background-color: white;
    padding: 80px 60px;
    text-align: center;
    color: #5B8291;
}

.why-title {
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 20px;
    position: relative;
    display: inline-block;
}

.why-title::after {
    content: "";
    display: block;
    width: 60%;
    height: 3px;
    background-color: #98DAD9;
    margin: 10px auto 0 auto;
}

.why-para {
    padding-top: 30px;
    font-size: 18px;
    max-width: 900px;
    margin: 20px auto;
    line-height: 1.8;
}


.membership-section {
    align-content: center;
    background-color: #ffffff;
    padding: 80px 60px;
    text-align: center;
    color: #5B8291;
}

.membership-title {
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 40px;
    position: relative;
    display: inline-block;
    border-bottom: 3px solid #98DAD9;
    padding-bottom: 8px;
}


.membership-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    margin-bottom: 40px;
    text-align: left;
}

.membership-column {
    padding-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.membership-column p,
.membership-bottom p {
    text-align: center;
    font-size: 18px;
    line-height: 2.4;
    position: relative;
    padding-left: 24px;
    margin-bottom: 8px;
}

.membership-column p::before,
.membership-bottom p::before {
    color: #5B8291;
    position: absolute;
    left: 0;
    font-weight: bold;
}

.membership-bottom {
    grid-column: span 3;
    max-width: 500px;
    margin: 0 auto;
}

.map-section {
    background-color: #f9f9f9;
}



.map-section iframe {
    width: 100%;
    height: 600px;
    border: none;
}

.footer-section {
    background-color: #1F1F1F;
    color: #5B8291;
    padding: 50px 80px;
    height: auto;
}

.footer-top {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 40px;
}

.footer-box {
    flex: 1;
    min-width: 250px;
    margin-right: 20px;
}

.footer-box h4 {
    font-size: 18px;
    color: #ffffff;
    border-bottom: 2px solid #00bcd4;
    display: inline-block;
    margin-bottom: 20px;
}

.footer-box p {
    font-size: 14px;
    line-height: 1.6;
    margin-bottom: 10px;
}

.footer-box ul {
    list-style: none;
    padding: 0;
}

.footer-box ul li {
    margin-bottom: 10px;
}

.footer-box ul li a {
    text-decoration: none;
    color: #c7d5d8;
    font-size: 14px;
    transition: color 0.3s;
}

.footer-box ul li a:hover {
    color: #00bcd4;
}

.footer-bottom {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    color: #5B8291;
    padding: 20px 0;
}

.footer-bottom h4 {
    font-size: 18px;
    color: #5B8291;
    border-bottom: 2px solid #00bcd4;
    display: inline-block;
    margin-bottom: 30px;
}

.appointment-form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    text-align: left;
    width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: #1F1F1F;
    border-radius: 5px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    margin-bottom: 20px;
}

.grid-item {
    display: flex;
    flex-direction: column;
}

.appointment-form input {
    padding: 10px;
    width: 100%;
    border: none;
    border-bottom: 2px solid #00bcd4;
    background-color: transparent;
    color: white;
    outline: none;
}

.appointment-form button {
    margin-top: 20px;
    background-color: #2E424D;
    color: white;
    padding: 10px 25px;
    border: none;
    border-radius: 3px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.appointment-form button:hover {
    background-color: #00bcd4;
}

@media screen and (max-width: 768px) {
    .header {
        flex-direction: column;
        align-items: center;
        padding: 20px;
    }

    .logo-section {
        margin-bottom: 20px;
    }

    .nav-links {
        flex-direction: column;
        margin-top: 20px;
    }

    .nav-links a {
        margin: 10px 0;
    }

    .hero {
        height: 50vh;
    }

    .about-doctor {
        flex-direction: column;
        padding: 10px 50px 10px;
        align-items: center;
    }

    .about-left {
        width: 100%;
        align-items: center;
        justify-content: center;
        text-align: center;
        font-size: 18px;
        font-weight: bold;
        line-height: 1.6;
    }
    
    .about-right {
        width: 100%;
        font-size: 14px;
        line-height: 1.8;
    }

    .floating-cards {
        flex-direction: column;
        padding-left: 50px;
        padding-right: 50px;
        gap: 20px;
    }

    .small-section {
        flex-direction: row;
        padding: 20px;
        gap: 20px;
    }

    .small-left{
        font-size: 20px;
    }

    .small-right{
        font-size: 18px;
        flex: 1.5;
    }
    .big {
        font-weight: bold;
        font-size: 24px;
    }

    .baby-section {
        display: flex;
        height: 50vh;
        gap: 30px;
    }

    .baby-left,
    .baby-right {
    padding-top: 200px;
    }

    .icon {
        width: 50px;
        height: auto;
        margin-bottom: 10px;
    }
    
    .baby-left .cases-text {
        font-size: 24px;
        color: #2E424D;
    }
    
    .baby-right .countries-text {
        font-size: 24px;
        color: #2E424D;
    }
    
    .expertise-section {
        flex-direction: column;
        padding: 40px 20px;
    }

    .contact-section {
        flex-direction: column;
        padding: 20px;
    }

    .membership-container {
        grid-template-columns: 1fr;
    }

    .map-container {
        height: 200px;
    }

    .mobile-nav {
        display: block;
    }
}
